// подключаем переменные
@use '../app/module/colors' as color;

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 22px 36px 30px 36px;

  &__logo {
    height: min-content;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-decoration: none;
  }

  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 469px;
    min-width: max-content;
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    border: 1px solid color.$element--primary;
    border-radius: 12px;

    &_icon {
      width: 24px;
      height: 24px;
      fill: color.$element--primary;
    }

    &_input {
      width: 100%;
      margin-left: 6px;
      font-weight: 400;
      line-height: 21.6px;
      letter-spacing: 0.01em;
      background-color: transparent;
      border: none;
      // color: color.$text--primary;

      &:focus {
        outline: none;
      }
    }
  }

  &__options {
    display: flex;
    gap: 10px;

    input.header__checkbox {
      display: none;

      &:checked + label {
        background: linear-gradient(
              color.$background--additional,
              color.$background--additional
            )
            padding-box,
          linear-gradient(
              rgba(132, 213, 44, 0.36) 11.39%,
              rgba(23, 23, 34, 0) 189.78%
            )
            border-box;
        box-shadow: 0px 3px 15px 0px #84d52c33;
      }
    }

    label {
      padding: 12px 20px;
      background: linear-gradient(
            color.$background--secondary,
            color.$background--secondary
          )
          padding-box,
        linear-gradient(
            rgba(132, 213, 44, 0.36) 11.39%,
            rgba(23, 23, 34, 0) 189.78%
          )
          border-box;
      border-radius: 10px;
      border: 1px solid transparent;
      font-size: 18px;
      font-weight: 700;
      display: flex;

      img {
        margin-right: 10px;
        background-color: transparent;
        width: 20px;
        height: 20px;
      }
    }
  }
}
