$background--primary: #171722;
$background--secondary: #353542;
$background--additional: #212129;
$text--primary: #ffffff;
$text--non-active: #959595;
$focus--primary: #84d52c;
$focus--secondary: #6bab2b;
$focus--additional: #85d62d;
$element--primary: #959595;
